
<header class="bg-white shadow-md p-4">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <!-- Logo Section -->
      <div class="flex-shrink-0">
        <a href="#" class="text-xl font-bold text-blue-600">Periferia community</a>
      </div>
      <!-- Navigation Links -->
      <nav class="flex space-x-8">

      <a routerLink="userinfo" class="inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-neutral-tertiary rounded-full text-sm font-medium text-gray-700 hover:text-blue-600 transition-colors inline-block size-10 rounded-full ring-2 ring-gray-900 outline -outline-offset-1 outline-white/10">
        <span class="text-sm font-medium text-gray-700 hover:text-blue-600 transition-colors">LM</span>
      </a>
        <!-- <a routerLink="pcdashboard" class="text-sm font-medium text-gray-700 hover:text-blue-600 transition-colors inline-block size-10 rounded-full ring-2 ring-gray-900 outline -outline-offset-1 outline-white/10">M</a> -->
        <!-- <a routerLink="pcdashboard" class="text-sm font-medium text-gray-700 hover:text-blue-600 transition-colors">Current posts</a> -->
        <!-- <a href="#" class="text-sm font-medium text-gray-700 hover:text-blue-600 transition-colors">User info</a> -->
        <!-- <a href="#" class="text-sm font-medium text-gray-700 hover:text-blue-600 transition-colors">Pricing</a> -->
        <!-- <a href="#" class="text-sm font-medium text-gray-700 hover:text-blue-600 transition-colors">Contact</a> -->
      </nav>
    </div>
  </div>
</header>
