
<span class="text-lg">User's Posts</span>

<table class="table-auto md:table-fixed border-collapse ...">
  <thead>
    <!-- <tr> -->
    <!--   <th></th> -->
    <!--   <th></th> -->
    <!-- </tr> -->
  </thead>
  <tbody>
  @for( post of postInfo$ | async; track post.id){
    <div class="border border-gray-300 p-4 rounded-lg">
      <tr>
        <td class="text-lg" >{{post.content}}</td>
      </tr>
      <tr>
        <td class="text-gray-500 text-xs">{{post.creationDate | date:'full'}}</td>
      </tr>
      <tr>
        <div class="flex justify-end w-full">
          <span class="text-xs">{{$count}} likes</span>
        </div>
        <div class="flex justify-end w-full">
          <button (click)="handleClick(1, post.id)" type="button" class="text-fg-brand bg-neutral-primary border border-brand hover:bg-brand hover:text-white focus:ring-4 focus:ring-brand-subtle font-medium leading-5 rounded-base text-xs px-3 py-1.5 focus:outline-none">Like</button>
        </div>
      </tr>
     </div>
  }
  @empty{
    <tr>
      <td>
        no post found
      </td>
    </tr>
  }
  </tbody>
